body {
  font-family: Arial, sans-serif;
  background-color: #F3E5AB;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#todoList {
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #EEDC82;
  transition: background-color 0.3s;
}

.task:hover {
  background-color: #FFDEAD;
}

.completed {
  opacity: 0.7;
  background-color: #FFFFFF;
}

.priority-1 { background-color: #F3E5AB; }
.priority-2 { background-color: #EEDC82; }
.priority-3 { background-color: #FFDEAD; }

.add-task {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
}
