body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#app {
    text-align: center;
    width: 300px;
    background-color: #e9d9d9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    padding: 8px;
    background-color: #eee;
    margin-top: 5px;
    border-radius: 4px;
    box-sizing: border-box;
}
